body{
background-color: SkyBlue;

}



button {
  border: none;
  color: white;
  background-color: #4CAF50;
  padding:1em 2em 1em 2em;
}


.padding-hover:hover {
    background-color: green;
    color:white;
    text-decoration: underline;
}

h1 {
  color: #fff;
  font-size:52px;
  position:relative;
  text-align:center;

}
.container {

    background-image: url(https://github.com/janiceyoo/gra-321/blob/master/code-exercises/img/HARRY%20MY%20MANS.jpg?raw=true);
    background-size: contain;
    background-repeat: no-repeat;
    height: 700px;
    margin:0 auto;
    width:50%;
  }

    h2 {font-family: Franklin Gothic;
        color:#fff;
        font-size:52px;
        position: relative;
        text-align: center;
    }
