button {
  border: none;
  color: white;
  background-color: #4CAF50;
  padding:1em 2em 1em 2em;
}


.padding-hover:hover {
    background-color: green;
    color:white;
    text-decoration: underline;
}
