body {
background-color:white;
}

h1 {
  font-family: InaiMathi, sans-serif;
  color: #855A5A;
  font-size:52px;
  position: relative;
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
}

.nav-bar {
  font-family: InaiMathi;
  width: 100%;
  background-color: #F0DBDB;
  text-align: center;
  padding: 5px auto;
}

.nav-bar a p {
  width:100%;
  color: #855A5A;
  text-decoration: none;
}

.nav-bar:first-child, .nav-bar:first-child {
  padding: 10px 0px;
}

@media only screen and (min-width:400px) {
  .nav-bar {
  display: flex;
  justify-content: space-around;
  }
  .nav-bar:first-child, .nav-bar:first-child {
  padding: 0px 0px;
}
  }



p {
  font-family: InaiMathi;
  color: #855A5A;
  font-size: 15px;
  margin-left: 7%
}
section {
  font-family: InaiMathi, sans-serif;
  color: ##855A5A;
  font-size:52px;
  position: relative;
  text-align: center
}
.logo{
  margin-top: 10%;
  text-align:center;
  margin-bottom: 10%
}

button {
  border: none;
    font-family: InaiMathi;
  color: #855A5A;
  font-size: 25px;
  background-color: #F0DBDB;
  padding:1em 2em 1em 2em;
}


.header-container{
  background-color: #F0DBDB;
  text-align: center;
  margin-top: 0%;
}

.kitchen{
  text-align: center;
}

.about{
  color: #855A5A;
  font-size:52px;
  text-align: center;
}

.menu-items{
text-align: left;
display: inline-block;
width: 50%; position: relative;



}

.small-prices{
  display: inline-block;

}

.medium-prices{
  display: inline-block;

}

.large-prices{
  display: inline-block;

}

.special-prices{
  display: inline-block;
  margin-left: 20%;
}


.other-prices{
  text-align: left;
  display: inline-block;

}


.locations{
  text-align: left;
  margin-left: 25%;
}

.contact{
  text-align: left;
  margin-left: 25%;
  margin-bottom: 15%;
}
