* {
background-color:white;
}

h1 {
  font-family: InaiMathi, sans-serif
  color: ##855A5A;
  font-size:52px;
  position: relative;
  text-align: center
}

section {
  font-family: InaiMathi, sans-serif;
  color: ##855A5A;
  font-size:52px;
  position: relative;
  text-align: center
}
.logo{
  margin-top: 10%;
  text-align:center;
}

button {
  border: none;
    font-family: InaiMathi;
  color: #855A5A;
  background-color: #F0DBDB;
  padding:1em 2em 1em 2em;
}


.nav-bar{
  background-color: #F0DBDB

}
