header {
background-color: #EBF9FF;
width: 100%;
}

.header-nav {
  background-color: #EBF9FF;
  width:90%;
  margin: 0 auto;
}

.nav-bar {
  display:flex;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  position: relative;
  justify-content: space-between;
  padding: 30px 0 30px 0;
}

#logo {
height:100px;
}

#toggle {
display:none;
}

label {
font-size: 40px;
line-height:100px;
 cursor: pointer;
}

ul.menu-items {
padding: 20px 0 40px 0;
margin: 0;
list-style-type: none;
text-align: left;
border-top:3px double #000;

}

ul.menu-items a {
  text-decoration:none;
  line-height:40px;
  text-align: left;
  color: black;
  display:block;
}

#toggle:checked ~ ul.menu-items {
  display:none;
}

/*Desktop Styles*/
@media only screen and (min-width: 500px) {
  .header-nav {
  background-color: #EBF9FF;
  width:90%;
  margin: 0 auto;
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.nav-bar {
  display:inline-block;
  position: relative;
  padding: 30px 0 30px 0;
  width:60%;
}

#logo {
height:100px;
}

#toggle {
display:none;
}

label {
display:none;
}

ul.menu-items, #toggle:checked ~ ul.menu-items {
display: flex;
margin: 0;
list-style-type: none;
text-align: right;
border-top:none;
  width: 60%;
  justify-content: space-between;
}
}
